* {
  box-sizing: border-box;
}

:root {
  --bg-color-1: rgba(254, 252, 251);
  --bg-color-2: rgba(10, 17, 40);
  --bg-color-3: rgba(18, 130, 162);
  --bg-color-4: rgba(3, 64, 120);
}

html,
body {
  background: var(--bg-color-2);
  color: var(--bg-color-1);
  margin: 0;
  padding: 0;
  font-size: 16px;
}

main {
  height: calc(100vh - 96px);
}

.noselect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.calculator {
  border: 2px solid rgba(56, 50, 50, 0.5);
}

.calculator > section {
  background-color: var(--bg-color-3);
}

.calculator > section:first-child {
  flex-basis: 3%;
}

.calculator > section:not(:last-child) {
  border-bottom: 1px solid rgba(251, 183, 183, 0.5);
}

.calculator > section > div {
  flex-basis: 25%;
  border-left: 1px solid rgba(251, 183, 183, 0.5);
  border-right: 1px solid rgba(251, 183, 183, 0.5);
  transition: transform 0.2s;
  transform: scale(1);
}

.calculator > section > div:hover {
  background-color: var(--bg-color-4);
}

.calculator > section > div:active {
  transform: scale(1.06);
  transition: transform 0.2s;
  z-index: 10;
}

.calculator span {
  display: flex;
  align-items: center;
  font-size: 7rem;
  height: 100%;
}

.display {
  flex-basis: 25%;
  font-size: 1.25rem;
}

@media screen and (max-height: 780px) {
  .calculator span {
    font-size: 6rem;
  }
}

@media screen and (max-height: 684px) {
  .calculator span {
    font-size: 5rem;
  }
}

@media screen and (max-height: 586px) {
  .calculator span {
    font-size: 4rem;
  }
}

@media screen and (max-height: 480px) {
  .calculator span {
    font-size: 3rem;
  }
}

@media screen and (max-height: 386px) {
  .calculator span {
    font-size: 2rem;
  }
}

