* {
  box-sizing: border-box;
}

:root {
  --bg-color-1: rgba(216, 239, 251, 0.25);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

main {
  height: calc(100vh - 96px);
}

.calculator {
  border: 2px solid rgba(56, 50, 50, 0.5);
}

.calculator > section {
  background-color: var(--bg-color-1);
}

.calculator > section:not(:last-child) {
  border-bottom: 1px solid rgba(251, 183, 183, 0.5);
}

.calculator > section > div {
  flex-basis: 25%;
  border-left: 1px solid rgba(251, 183, 183, 0.5);
  border-right: 1px solid rgba(251, 183, 183, 0.5);
}

.calculator span {
  font-size: 7rem;
  height: 100%;
}
